:root{
    --primary-heading-font:'Playfair Display', serif;
    --secondary-heading-font:'Poppins', sans-serif;
    --hero-background: #F9F7FE;
    --primary-color: #fec83f;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --email-color: #6c63ff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-heading-font);
    font-weight: bold;
}

h1{
    color: var(--primary-color);
    font-size: 96px;
}

p{
    font-family: var(--secondary-heading-font);
    font-weight: normal;
}

/* Homepage */

.hero{
    background: var(--hero-background);
    text-align: center;
    padding: 150px 20px;
}

.hero p{
    font-family: var(--secondary-heading-font);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero h2{
    font-family: var(--secondary-heading-font);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
    color: #272142;
}

.btn-warning {
    border-radius: 4px;
    font-size: 18px;
    color: white;
    font-weight: medium;
    line-height: 27px;
    padding: 18px, 30px;
}


/* homepage animation */

@keyframes heading {
    from {color: #F9F7FE;
        margin-left: 100%;
    width: 300%;}
    to {color: #fec83f;
    margin-left: 0%;
    width: 100%;}
}

h1{
    color: #fec83f;
    animation-name: heading;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes subheading {
    from {color: #F9F7FE;
    margin-left: -100%;
    width: -300%;}
    to {color: #272142;
    margin-left: 0%;
    width: -100%;}
}

h2{
    color: #272142;
    animation-name: subheading;
    animation-duration: 5s;
    animation-iteration-count: 1;
}