
/* Generic */

:root{
    --primary-heading-font:'Playfair Display', serif;
    --secondary-heading-font:'Poppins', sans-serif;
    --hero-background: #F9F7FE;
    --primary-color: #fec83f;
    --box-shadow: 0px 0px 0px 5px rgba(254, 200, 63, 0.477);
    --email-color: #6c63ff;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--primary-heading-font);
    font-weight: bold;
}

h1{
    color: var(--primary-color);
    font-size: 96px;
}

p{
    font-family: var(--secondary-heading-font);
    font-weight: normal;
    font-size: 16px;
    opacity: 0.7;
}

.hero-secondary{
    background: var(--hero-background);
    text-align: center;
    padding: 130px 10px;
}

.btn-warning {
    border-radius: 4px;
    font-size: 18px;
    color: white;
    font-weight: medium;
    line-height: 27px;
    padding: 18px, 30px;
}

.btn-outline{
   border-radius: 4px;
    font-size: 18px;
    background-color: white;
    color: #fec83f;
    font-weight: medium;
    line-height: 27px;
    padding: 18px, 30px;
    border: 1px solid #fec83f;
}

.hover-effect {
    color: var(--primary-color);
}


/* Homepage */

.hero{
    background: var(--hero-background);
    text-align: center;
    padding: 150px 20px;
}

.hero p{
    font-family: var(--secondary-heading-font);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero h2{
    font-family: var(--secondary-heading-font);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
    color: #272142;
}

.tech-stack{
    max-width: 470px;
    margin-left: 2px;
    font-size: 16px;
}

.vscode{
    margin-left: -20px;
}

.tech-text{
    font-size: 12px;
}


/* Homepage Hover Effect */

.hover-effect {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 50vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}


/* Homepage Animation */

@keyframes heading {
    from {color: #F9F7FE;
        margin-left: 100%;
    width: 300%;}
    to {color: #fec83f;
    margin-left: 0%;
    width: 100%;}
}

.name{
    color: #fec83f;
    animation-name: heading;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes subheading {
    from {color: #F9F7FE;
    margin-left: -100%;
    width: -300%;}
    to {color: #272142;
    margin-left: 0%;
    width: -100%;}
}

.hero h2{
    color: #272142;
    animation-name: subheading;
    animation-duration: 5s;
    animation-iteration-count: 1;
}


/* Work Page */

.work-heading{
    font-size: 54px;
    padding: 30px 20px;
}

.project-heading{
    font-size: 50px;
}

.project-paragraph{
    line-height: 30px;

}

.project-description{
    padding: 120px 60px;
}



/* About Page */

.programmer-identity {
    color: var(--primary-color);
}

.about-section{
    padding: 70px 20px;
}

.about-section h1{
    font-size: 64px;
    line-height: 1.5;
}

.about-section h2{
    font-size: 30px;
    font-family: var(--secondary-heading-font);
}

.about-section h3{
    font-size: 18px;
    font-family: var(--secondary-heading-font);
    line-height: 1.5; 
}

.about-section-content{
    margin: 10px;
}

.yalda{
    width: 350px;
    margin: auto;
    margin-top: 50px;
    display: block;
}

/* About Page Animation */

@keyframes programmer {
    from {color: #272142;}
    to {color: #fec83f;}
}

.programmer-identity{
    color: #fec83f;
    animation-name: programmer;
    animation-duration: 3s;
    animation-iteration-count: 1;
}




/* media queries */

@media (max-width:900px){
h1{font-size: 40px;}

.hero{
    padding: 200px 20px;
}

.hero h2{
    font-size: 16px;
}

.project-description{
    padding: 0;
    text-align: center;
}
.project-heading{
    font-size: 44px;
}

.about-section{
    text-align: center;
    padding: 0;
}

.index-intro{
    display: block;
    margin: auto;
}
}
